@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    height: 100vh;
    background: url("car-bg.jpg") no-repeat center center/cover;
    position: relative;
}

/* طبقة شفافة فوق الخلفية */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    z-index: 0;
}

/* صندوق تسجيل الدخول */
.login-box {
    width: 350px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

/* نص التسجيل */
.login-box h2 {
    margin-bottom: 25px;
    font-weight: 600;
}

/* مدخلات */
.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    color: white;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    left: 0;
    top: 12px;
    color: #ccc;
    pointer-events: none;
    transition: .3s;
}

/* حركة ارتفاع النص عند الكتابة */
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -10px;
    font-size: 13px;
    color: #fff;
}

/* الزر */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #1a73e8;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.login-btn:hover {
    background: #0f5cc6;
    transform: scale(1.03);
}
